@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-subtle-grid {
    background-color: inherit;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 -1000px; /* starts way above so lines extend upward visually */
    background-repeat: repeat;
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
